* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #84f1e9 0%, #c899e4 100%);
}

.wrapper {
  width: 620px;
  height: 650px;
  background: transparent;
  box-shadow:
    rgba(234, 43, 186, 0.1) 0px 1px 2px,
    rgba(132, 74, 241, 0.1) 0px 2px 4px,
    rgba(198, 130, 204, 0.1) 0px 4px 8px,
    rgba(222, 36, 204, 0.1) 0px 8px 16px,
    rgba(59, 21, 171, 0.1) 0px 16px 32px,
    rgba(13, 1, 33, 0.1) 0px 32px 64px;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, #93eee8 0%, #e0b9f7 100%);
}
.wrapper i {
  cursor: pointer;
}
.top-bar,
.music-list .header,
.music-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i {
  font-size: 24px;
  color: rgb(78, 77, 77);
}
.top-bar span {
  font-size: 20px;
}
.img-area {
  height: 330px;
  width: 75%;
  border-radius: 15px;
  box-shadow:
    rgba(234, 43, 186, 0.1) 0px 1px 2px,
    rgba(132, 74, 241, 0.1) 0px 2px 4px,
    rgba(198, 130, 204, 0.1) 0px 4px 8px,
    rgba(222, 36, 204, 0.1) 0px 8px 16px,
    rgba(59, 21, 171, 0.1) 0px 16px 32px,
    rgba(13, 1, 33, 0.1) 0px 32px 64px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to top, #d0f5f2 0%, #edd6fb 100%);
}
.img-area img {
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid rgb(188, 187, 187);
}
.song-details {
  text-align: center;
  margin: 10px 5px;
}
.song-details .name {
  font-size: 26px;
  color: rgb(20, 20, 20);
}
.song-details .artist {
  opacity: 0.9;
  font-size: 20px;
  color: rgb(42, 41, 41);
}
.progress-area {
  height: 8px;
  width: 100%;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #09868b;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  border-radius: inherit;
  position: relative;
  /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
  background: linear-gradient(
    to right,
    #7d0471 0%,
    #fb7aff 0%,
    #830b5b 21%,
    #b86bd4 52%,
    #610882 78%,
    #1894b0 100%
  );
}
.progress-bar::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;

  border-radius: inherit;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  background: inherit;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
}
.progress-area .timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
.timer span {
  font-size: 15px;
  color: rgb(17, 17, 17);
}
.controls {
  margin: 40px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls i {
  font-size: 32px;
  user-select: none;
  background: linear-gradient(rgb(177, 75, 177), rgb(78, 78, 129));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 50px;
}

.controls #prev {
  margin-right: -13px;
}
.controls #next {
  margin-right: -13px;
}
.controls .play-pause {
  height: 54px;
  width: 54px;
  background: rgb(230, 228, 228);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgb(227, 116, 212);
  border: 1px solid rgb(23, 207, 227);
}
.play-pause::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  height: 45px;
  width: 45px;
  background: linear-gradient(rgb(219, 73, 219), rgb(94, 29, 174));
}
.play-pause i {
  height: 45px;
  width: 45px;
  border-radius: inherit;
  background: inherit;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 45px;
  text-align: center;
}

.music-list {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 5px -10px rgb(117, 9, 147);
  border: 2px solid white;
  padding: 20px 40px;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease;
}
.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: rgb(24, 24, 24);

  font-weight: 400;
}
.header .row {
  cursor: default;
}
.header #close {
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.music-list ul {
  margin: 10px 0;
  max-height: 300px;
  overflow-y: auto;
}
.music-list ul::-webkit-scrollbar {
  width: 0px;
}
.music-list ul li {
  list-style: none;
  border-bottom: 1px solid rgb(107, 107, 107);
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: black;
}
.music-list ul li:last-child {
  border-bottom: 0px;
}
ul li .row span {
  font-size: 18px;
  color: rgb(61, 61, 61);
}
ul li .row p {
  opacity: 0.9;
  color: rgb(79, 78, 78);
}
ul li .audio-duration {
  font-size: 16px;
  color: rgb(61, 61, 61);
}

ul li.playing p {
  color: #0a5363;
  pointer-events: none;
}

ul li.playing span {
  color: #870db4;
  pointer-events: none;
}
